<!DOCTYPE hibernate-configuration SYSTEM
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="bugztracker.entity.Issue"/>
        <mapping class="bugztracker.entity.IssueAttachment"/>
        <mapping class="bugztracker.entity.IssueComment"/>
        <mapping class="bugztracker.entity.Project"/>
        <mapping class="bugztracker.entity.IssueCommit"/>
        <mapping class="bugztracker.entity.GitUser"/>
        <mapping class="bugztracker.entity.User"/>
    </session-factory>
</hibernate-configuration>