Dear ${fullName},

Thank you for signing for Bugzz Tracker - simple tool for tracking tasks.

Please, follow the link below to activate your account. The link is actual within 30 minutes.

${link}

Best regards,
Bugzz Tracker